* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

.mw-xs {
  max-width: 576px;
}

.bd-callout {
  border-left-width: 0.25rem;
}

.bd-callout-warning {
  border-left-color: #f9b115;
}

.bd-callout-success {
  border-left-color: #2eb85c;
}
